.to-center {
    text-align: center;
}

.horizontal-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.inline {
    display: inline-block;
}

.m-lr-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
