.my-form-container {

}

.my-form {
    height: fit-content;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    border-width: 1px;
    width: fit-content;
}

.my-form__submit-button {
    margin-top: 0;
    margin-bottom: 10px;
}